@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

body{
  font-family: "Cal Sans", sans-serif;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input{
  font-size: 18px;
  color: rgb(32, 32, 179);
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}

button{
  font-size: 30px;
  width: 200px;
  background-color: rgb(75, 168, 75);
  margin-top: 15px;
  border-radius: 25px;
}

button:hover{
  background-color: rgb(34, 186, 224);
  color: #000;
  transition: 0.9s;
}